<form>
    <legend>User Information</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="UserName">User Name:</label>
                </td>
                <td>
                    <input id="UserName" name="UserName" type="text"
                           size="40" maxlegnth="40"
                           placeholder="Add your User Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Password">Password:</label>
                </td>
                <td>
                    <input id="Password" name="Password" type="Password"
                           size="40" maxlegnth="40"
                           placeholder="Add your Password" />
                </td>
            </tr>
        </tbody>
    </table>
    <button>Register</button>
</form>