@{
    ViewData["Title"] = "Home Page";
}

<section>
    <ol type="I">
        <li>Image 1</li>
        <li>Image 2</li>
        <li>Image 3</li>
        <li>Image 4</li>
        <li>Image 5</li>
    </ol>
